* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
  }
  
  html,
  body {
    margin: 0;
    padding: 0;
  }

  .main-image {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background:#362358; */
    background-image: url("pictures/hourglass.jpg");
    background-size: cover;
    background-position: left 20% bottom 40%;
    background-repeat: no-repeat;
    background-origin: border-box;
    background-clip: border-box;
    height: 100%;
    opacity: 0.9;
  }

  .general-container {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    text-align: center;
    z-index: 200;
    background-color: #362358;
    padding: 1rem;
    width: 90%;
    height: 100%;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }

  .general-container-title {
    color: white;
    margin-top: 2rem;
  }

  .total-field {
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    margin: 2rem;
  }

  .total-field-circle {
    position: relative;
    border-radius: 95px;
    background-color: white;
    width: 8rem;
    height: 8rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  }

  .total-field input {
    position: absolute;
    bottom: 35%;
    left: 18%;
    text-align: center;
    border: none;
    padding: 0.2rem 0.5rem;
    font: inherit;
    width: 85px;
  }

  .total-field input:focus {
    outline: none;
  }

  .calculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .calculator input {
    margin: 0.7rem;
    height: 3.1rem;
    width: 40%;
    border-radius: 30px;
    text-align: center;
    border: none;
    padding: 0.2rem 0.5rem;
    font: inherit;
    font-size: 0.8rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }

  .calculator input:focus {
    outline: none;
    background-color: rgb(227, 220, 231);
    border-color: none;
  }

.action-buttons {
    display: inline;
    text-align: center;
    margin-top: 1rem;
}

.action-buttons button {
    margin: 0.3rem;
    height: 2.4rem;
    width: 5.5rem;
    background-color: #011638;
    color: white;
    border: 1.5px solid #011638;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    font-size: 0.7rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.action-buttons button:hover,
.action-buttons button a:hover,
.action-buttons button:active,
.action-buttons button a:active {
  background-color: #d8dbe2;
  color: #011638;
  border:none;
}

.action-buttons button:focus,
.action-buttons button a:focus {
  outline: none;
}

.action-buttons button a {
    text-decoration: none;
    color: white;
}

@media (min-width: 37rem) {
    .general-container {
        height: 100%;
        width: 70%;
    }
    .total-field-circle {
        width: 10rem;
        height: 10rem;
        border-radius: 95px;
        margin: 1rem;
    }
    
    .total-field input {
        left: 25%;
    }
    
    .calculator input {
        width: 32%;
        height: 3.5rem;
        font-size: 0.9rem;
        margin: 0.8rem;
    }
    
    .action-buttons button {
        height: 3rem;
        width: 8rem;
        font-size: 0.8rem;
    }
}

@media (min-width: 54rem) {
.general-container {
    height: 100%;
    width: 50%;
}
.total-field-circle {
    width: 10rem;
    height: 10rem;
    border-radius: 95px;
    margin: 1rem;
}

.total-field input {
    left: 25%;
}

.calculator input {
    width: 42%;
    height: 4rem;
    font-size: 0.9rem;
    margin: 0.8rem;
}

.action-buttons button {
    height: 3.5rem;
    width: 10rem;
    font-size: 0.9rem;
}

.calculator-input-wide-screens {
    display: none;
}

}

@media (min-width: 58.6rem) {} 

/* responsiviness still needs to be adjusted on some resolutions */